.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;

  a {
    flex: 1 0 175px;
    overflow: hidden;
    position: relative;
    background-color: var(--darkgray);
    height: 240px;
    color: var(--dark);
    clip-path: inset(0 round 16px);

    &:hover {
      color: var(--dark);
    }
  }

  img {
    overflow: hidden;
    display: flex;
    z-index: 1;
    object-fit: cover;
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  .image {
    flex: 2 350px;
  }

  .color {
    flex: 1 175px;
  }

  .content { 
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 8px 16px;
    z-index: 2;
    background-color: color-mix(in srgb, var(--lightgray) 50%, transparent);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    border-radius: 0 0 16px 16px;
    
    p {
      margin: 0;
      color: var(--dark);
      line-height: 1.2rem;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    time {
      font-weight: 400;
      font-size: 10pt;
      line-height: 1.2rem;
    }
  }
}
