@use "./base.scss";

// "year-table" defined in Obsidian through cssclasses
article.year-table {
  table tbody {
    // Date
    td:nth-child(1) {
      text-wrap: nowrap;
    }
    // Route name(s)
    td:nth-child(2) {
      min-width: 150px;
    }
    // People
    td:nth-child(6) {
      min-width: 120px;
    }
  }
}

article.list-table {
  table tbody {
    // Route name
    td:nth-child(1) {
      min-width: 120px;
    }
  }
}

article {
  table tbody {
    td.empty-table-cell {
      min-width: 90px;
    }
  }
}
